[Unit]
Description=Sensor System Sampler Service
Requires=network-online.target
After=network-online.target

[Service]
User=water
WorkingDirectory=/home/water/sensor-system
ExecStart=/home/water/sensor-system/.venv/bin/python -u sampler.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
