[Unit]
Description=Sensor System Core Service
Requires=network-online.target
After=network-online.target

[Service]
User=water
WorkingDirectory=/opt/sensor-system
ExecStart=/opt/sensor-system/.venv/bin/python -m uvicorn core.api:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
